@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 1rem;
  @media screen and (min-width: 1024px) {
  padding: 3rem
}
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    margin-bottom: none;
  }
}

.input-search {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  font-size: 1rem;
  @media screen and (min-width: 1024px) {
    width: 50%;
  }
}

.symbols-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.symbol {
  font-size: 3rem;
  color: lightgray;
  @media screen and (min-width: 1024px) {
    font-size: 5rem;
  }
}

.symbol__active {
  color: grey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}